/* ================================================================= */
/* TABLE OF CONTENTS */
/*
1. TYPOGRAPHY
2. LAYOUT
3. MEDIA QUERIES
*/

/* ================================================================= */
/* 1. TYPOGRAPHY */
/* COUNTDOWN | TYPOGRAPHY */
#coming-soon {
  color: #333950;
}
.box {
  background-color: rgba(81, 117, 255, 0.1);
}
.countdown {
  color: rgba(81, 117, 255, 1);
}
.time-txt {
  color: rgb(51, 57, 80);
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* FORM | TYPOGRAPHY */
.form-placeh, .option {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgb(116, 123, 149);
}
.form-placeh, .fontColor, .input {
  font-weight: 600;
  color: rgb(51, 57, 80);
}
.pricing, .pricingFree {
  font-weight: 600;
  color: rgba(51, 57, 80, 0.4);
}
#submit {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
}

/* ================================================================= */
/* 2. LAYOUT */
#bg-pattern-header {
  position: relative;
  overflow-y: hidden;
  height: 400px;
}
#logo {
  position: relative;
  top: -400px;
}
#office-lite-home {
  top: -353px;
  display: flex;
  align-self: center;
  margin-bottom: 52px;
}

/* COMING SOON SECTION | LAYOUT */
#date-comingSoon {
  position: absolute;
  margin: 0;
  margin-top: 420px;
  margin-bottom: 8px;
}

/* FORM | LAYOUT */
label {
  display: none;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;

  height: 465px;
  width: 320px;
  position: relative;
  padding: 16px;
  margin-top: -129px;
  margin-bottom: 0;

  background: rgb(255, 255, 255);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
}
/* PLACEHOLDERS & INPUT */
.form-placeh, .option {
  width: 279px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  padding-bottom: 16px;
}
  .input:focus {
    outline: none;
    border-bottom: 1px solid rgb(81, 117, 255);
  }
/* SELECTION WRAP */
.select_wrap {
  width: 287px;
  background-color: transparent;
  cursor: pointer;
}
.default_option {
  height: 36px;
  margin-top: 2px;
  list-style: none;
}
  .basicPack {
    position: relative;
  }

/* MENU DROPDOWN ARROW */
.select_wrap .default_option::before {
  content: "";
  height: 6px;
  width: 6px;
  margin-top: -5px;
  position: absolute;
  top: 18px;
  left: 15.5em;
  border: 2px solid;
  border-color: transparent transparent #5175FF #5175FF;
  border-radius: 2px;
  transform: rotate(-225deg);
  z-index: 100;
  }
  .select_wrap.active .default_option::before {
    transform: rotate(-45deg);
    top: 1em;
    margin-top: -10px;
  }

/* SELECTIONS DROPDOWN MENU */
#selections {
  height: 198px;
  width: 280px;
  position: absolute;
  background-color:rgb(255, 255, 255);
  border: 1px solid rgba(51, 57, 80, 0.153273);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  border-radius: 8px;
  padding: 15px 12px 8px 14px;
  margin-left: -15px;
  margin-top: -20px;
  z-index: 5;
}
  .select_ul.active {
    display: none;
  }
  .select_ul {
    display: block;
  }

.select_wrap .select_ul li {
  list-style: none;
  cursor: pointer;
}

/* OPTION LABEL */
.select_ul .option-label:hover::before,
.select_ul .option-label:active::before {
  display: block;
  content: url('../assets/sign-up/check-solid.svg');
  position: absolute;
  top: 2px;
  right: 24px;
}

/* PRICE NUMBER */
.pricing {
  margin-left: 10px !important;
  cursor: pointer;
}
  .option1 {
    position: absolute;
    width: 85%;
  }  
    .pricingFree {
      margin-left: 10px;
    }

    .option {
    position: relative;
  }

  div.select {
    border: none;
    margin-bottom: -14px;
  }

/* OPTION DROPDOWN MENU */
.option1 li {
  margin-left: -38px;
}

#submit {
  height: 56px;
  width: 279px;
  border-radius: 28px;
  background: rgb(81, 117, 255);
  border-radius: 28px;
  cursor: pointer;
  margin-top: 17px;
}
  #submit:hover, #submit:active {
    background-color: rgb(130, 156, 255);
  }

#err-circle {
  opacity: 0;
}
#err-circle::after {
  content: url('../assets/sign-up/circle-xmark-solid.svg');
  position: absolute;
  right: 74px;
  margin-top: -70px;
}

/* FOOTER BG IMG */
#bg-color-footer {
  height: 320px;
  margin-top: 0;
}
#bg-pattern-footer {
  height: 320px;
  background-position: center 43.4%;
  transform: rotate(180deg);
}
.sign-up-ft {
  top: 916px;
  overflow-y: hidden;
}
/* ================================================================= */
/* 3. MEDIA QUERIES */
@media only screen and (min-width: 670px) {
  #bg-pattern-header {
    display: none;
  }
  #logo {
    align-self: normal;
    position: absolute;
    top: 0;
    margin-top: 68px;
    margin-left: 39px;
  }
  #office-lite-home {
    top: 113px;
    margin-bottom: 0;
    width: 580px;
  }
  .header-p2 {
    text-align: center;
  }

  /* COMING SOON SECTION | LAYOUT | TABLET VIEW MQ */
  #date-comingSoon {
    position: absolute;
    top: 325px;
    margin: 0;
  }
  #countdown-timer {
    margin-top: 16px;
  }

  /* FORM | LAYOUT | TABLET VIEW MQ  */
  #form {
    height: 488px;
    width: 445px;
    position: relative;
    top: 809px;
    padding: 10px;
    align-items: center;
  }
  /* PLACEHOLDERS & INPUT |TABLET VIEW MQ  */
  .form-placeh, .option {
    width: 360px;
    margin-bottom: 24px;
  }
  /* MENU DROPDOWN ARROW | TABLET VIEW MQ  */
  .select_wrap .default_option::before {
    left: 19.6em;
    }
  /* DROPDOWN MENU SELECTIONS | TABLET VIEW MQ  */
  #selections {
    width: 330px;
    margin-left: 1px;
  }
  .option1 {
    width: 320px;
  }
  .option-label {
    width: 95%;
    margin-left: 0.5em;
  }
  #err-circle::after {
    margin-right: 7px;
  }

  /* SUBMIT BUTTON | TABLET VIEW MQ */
  #submit {
    width: 83%;
  }

  /* FOOTER BG IMG */
  #bg-color-footer {
    position: relative;
    height: 768px;
    margin-top: 0;
  }
  #bg-pattern-footer {
    height: 100%;
    background-position: center 15.4%;
    margin-top: -150px;
  }
  .sign-up-ft {
    position: relative;
    top: 556px;
    overflow: clip !important;
  }
}

/* DESKTOP VIEW MEDIA QUERY */
@media only screen and (min-width: 1250px) {
  body {
    height: 1000px;
    overflow-y: hidden;
  }
  #logo {
    margin-top: 81px;
    margin-left: 165px;
  }
  #office-lite-home {
    height: 236px;
    width: 540px;
    margin: 0;
    margin-top: 145px;
    margin-left: -35.5em;
  }
  .header-txt {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #header-title {
    height: 128px;
    width: 540px;

    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
    margin-bottom: 24px;
  }
  .header-p2 {
    text-align: left;
  }

  /* DATE - COMING SOON SECTION | MQ DESKTOP VIEW */
  #date-comingSoon {
    top: 475px;
  }

  /* FORM | LAYOUT | TABLET VIEW MQ  */
  #form {
    height: 674px;
    width: 425px;
    position: relative;
    top: 365px;
    left: 330px;
    padding: 10px;
    align-items: center;
  }
  #err-circle::after {
    margin-right: 0;
  }
  #name {
    margin-top: 20px; 
  }
  #submit {
    margin-bottom: 20px;
  }

  /* FOOTER BG IMG */
  #bg-color-footer {
    position: relative;
    top: -370px;
    right: -1013px;
    height: 100%;
    width: 500px;
    margin: 0;
    padding: 0;
    padding-bottom: 100em;
    overflow:  hidden;
  }
  #bg-pattern-footer {
    height: 100%;
    background-position: 50% -55%;
    margin-left: 0;
  }
}