/* ================================================================= */
/* TABLE OF CONTENTS */
/*
1.RESET STYLES
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERIES
*/


/* ================================================================= */
/* 1. RESET STYLES */

.signup-footer {
  display: none;
}
.bg-pattern-ft2 {
  display: none;
}


/* ================================================================= */
/* 2. TYPOGRAPHY */
#coming-soon {
  color: #333950;
}
.box {
  background-color: rgba(81, 117, 255, 0.1);
}
.countdown {
  color: rgba(81, 117, 255, 1);
}
.time-txt {
  color: rgb(51, 57, 80);
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* FORM | TYPOGRAPHY */
.form-placeh, .option {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgb(116, 123, 149);
}
.form-placeh {
  font-size: 16px;
  font-weight: 600;
  color: rgb(51, 57, 80);
}
.fontColor {
  color: rgba(51, 57, 80, 1);
}
.pricing {
  color: rgba(51, 57, 80, 0.4);
}
.input {
  color: rgba(51, 57, 80, 1);
}
#submit {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
}

/* ================================================================= */
/* 3. LAYOUT */
.header-txt2 {
  margin-top: 20px;
  margin-bottom: 0;
}
.header-p2 {
  margin-top: -8px !important;
  margin-bottom: 0px !important;
}

#bg-pattern-header {
  margin-bottom: 35.5px;
}

/* FORM | LAYOUT */
label {
  display: none;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: -100px;
}
.form {
  height: 465px;
  width: 327px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding-left: 24px;
  padding-right: 0;
}

.form-placeh, .option {
  width: 279px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  padding-bottom: 16px;
}
.select {
  width: 287px;
  background-color: transparent;
  cursor: pointer;
}
/* prep for onclick display: block w/js*/
#selections {
  display: none;
  height: 198px;
  width: 280px;
  position: absolute;
  background-color:rgb(255, 255, 255);
  border: 1px solid rgba(51, 57, 80, 0.153273);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  border-radius: 8px;
  padding: 15px 12px 8px 14px;
  margin-left: -15px;
  margin-top: -20px;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid rgb(81, 117, 255);
}

.pricing {
  margin-left: 10px !important;
  cursor: pointer;
}
/* prep for onclick() display: block w/js */
  .pricing::after {
    display: none;
    content: url('../assets/sign-up/check-solid.svg');
    position: absolute;
    top: 2px;
    right: 30px;
  }
.default::after {
  content: url('../assets/sign-up/angle-down.svg');
  position: relative;
  right: -130px;
}
  .option1 {
    position: relative;
  }
  .option {
    position: relative;
    margin-left: 0;
  }
  div.select {
    border: none;
    margin-bottom: -14px;
  }

#submit {
  height: 56px;
  width: 279px;
  border-radius: 28px;
  background: rgb(81, 117, 255);
  border-radius: 28px;
  cursor: pointer;
}

#err-circle {
  opacity: 0;
}
#err-circle::after {
  content: url('../assets/sign-up/circle-xmark-solid.svg');
  position: absolute;
  right: 74px;
  margin-top: -70px;
}

/* ================================================================= */
/* 4. MEDIA QUERIES */