/* font-family: 'Kumbh Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ========================================================================= */


/* TABLE OF CONTENTS */
/* 
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. COMPONENTS | BUTTONS & ACTIVE/HOVER STATES
5. MEDIA QUERIES
*/



/* ========================================================================= */

/* 1. GLOBAL */
body {
  background-color: rgba(250, 250, 250, 1);
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;

  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgba(51, 57, 80, 1);
  text-align: center;

  overflow-x: hidden;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


/* ========================================================================= */

/* 2. TYPOGRAPHY */
#coming-soon,
#countdown-timer {
  color: rgba(255, 255, 255, 1);
}

#header-title,
.price-title,
.price-txt,
#coming-soon,
.countdown,
.time-txt {
  font-weight: 700;
}

#header-title {
  font-size: 40px;
  line-height: 48px;
}
#header-p {
  color: rgba(116, 123, 149, 1);
}

.price-title {
  font-size: 20px;
  line-height: 28px;
}
  .price-txt {
    font-size: 56px;
    line-height: 64px;
  }
.user-info {
  line-height: 28px;
}
.pricing-info {
  color: rgba(116, 123, 149, 1);
  line-height: 28px;
}
.card2 {
  color: rgba(255, 255, 255, 1);
}
#pricing-info2 > .pricing-info {
  color: rgba(255, 255, 255, 1);
  opacity: 0.75;
}

#coming-soon {
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 5px;
  text-align: center;
}
#future-date {
  color: rgb(81, 117, 255);
}

.countdown {
  font-size: 32px;
  line-height: 48px;
}
.time-txt {
  opacity: 0.5;
  font-size: 12px;
  line-height: 28px;
}

/* ========================================================================= */

/* 3. LAYOUT */
/* FLEXBOX */
#office-lite-home,
#main,
#date-comingSoon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#coming-soon,
#countdown-timer {
  justify-content: center;
  align-items: center;
}



/* STANDARD LAYOUT */
.img {
  width: 100%;
}
#bg-pattern-header {
  height: 100%;
  width: 100%;

  background-image: url('../assets/home/bg-pattern-header.svg');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: -130px;

  overflow-x: hidden;
  z-index: -5;
}

#logo {
  width: 155px;
  margin-top: 44px;
  align-self: center;
}

.header {
  width: 100%;
}
#office-lite-home {
  width: 100%;
  position: relative;
  top: 83px;
}
  #header-illustration {
    width: 190px;
    height: 218px;
    margin-bottom: 0.13em;
  }

  .header {
    display: flex;
    align-items: center;
  }
  .header-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21em;
  }
  #header-p {
    width: 20em;
    margin-top: -3px;
    margin-bottom: 12px;
  }
/* MAIN | LAYOUT */
#main {
  width: 328px;
  height: 1588px;
  align-self: center;
  margin-top: 180px;
  margin-bottom: 100px;
}

#card1, #card2, #card3 {
  height: 430px;
  width: 327px;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  margin-bottom: 64px;
  padding-top: 40px;
  padding-bottom: 40px;
}
  #card1 {
    background-color: rgba(255, 255, 255, 1);
  }
  #card2 {
    background-color: rgba(81, 117, 255, 1);
    background-image: url('../assets/home/bg-pattern-pricing.svg');
    background-position: bottom center;
    margin-top: -33px;
    margin-bottom: 33px;
  }
  #card3 {
    background-color: rgba(255, 255, 255, 1);
  }

.price-title {
  margin-top: -2px;
}
.price-txt {
  margin-top: 40px;
  margin-bottom: 8px;
}
.user-info {
  margin-top: 0;
  margin-bottom: 56px;
}
.pricing-info {
  margin-bottom: 17px;
}

/* COMING SOON SECTION | LAYOUT */
#date-comingSoon {
  display: flex;
  align-self: center;
  height: 254px;
  width: 328px;
  margin-top: 5px;
  margin-bottom: 68px;
}

#coming-soon {
  height: 48px;
  display: flex;
}
  #future-date {
    margin-left: 10px;
  }

#countdown-timer {
  height: 92px;
  width: 328px;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
}
  .box {
    background-color: rgba(51, 57, 80, 1);
    border-radius: 4px;
    height: 92px;
    width: 72px;
  }
  .countdown {
    margin-top: 8px;
    margin-bottom: 0;
  }
  .time-txt {
    margin-top: 0;
    margin-bottom: 8px;
  }

/* FOOTER BACKGROUND | LAYOUT */

#bg-color-footer,
#bg-pattern-footer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
#bg-color-footer {
  height: 1248px;
  background-color: rgba(37, 41, 58, 1);
  margin-top: 105em;
  z-index: -1;
}
#bg-pattern-footer {
  height: 1300px;
  width: 100%;

  background-image: url('../assets/home/bg-pattern-footer.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  object-fit: contain;
}

/* ========================================================================= */

/* 4. COMPONENTS | BUTTONS & ACTIVE/HOVER STATES */

/* BUTTONS */
#btn1, #btn5 {
  height: 56px;
  width: 171px;
  background: 
  rgba(81, 117, 255, 1);
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  border-radius: 28px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}
  .btn-txt {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 28px;
  }

#btn2, #btn3, #btn4 {
  height: 56px;
  width: 171px;
  background: rgba(81, 117, 255, 0.15);
  mix-blend-mode: normal;
  border-radius: 28px;
  border: none;
  cursor: pointer !important;
}
  #btn2, #btn3, #btn4 {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .try-for-free {
    color: rgba(81, 117, 255, 1);
    font-weight: 700;
    line-height: 28px;
  }
#btn3 {
  background-color: rgb(255, 255, 255);
}
#btn5 {
  margin-top: 20px;
}

/* HOVER & ACTIVE STATES */
#btn1:hover, #btn5:hover,
#btn1:active, #btn5:active {
  background-color: rgb(130, 156, 255);
}
#btn2:hover, #btn4:hover,
#btn2:active, #btn4:active,
#btn2:focus, #btn4:focus {
  background-color: rgba(81, 117, 255, 0.25);
}

#btn3:hover, #btn3:active, #btn3:focus {
  color: rgb(130, 156, 255);
}

/* ========================================================================= */

/* 5. MEDIA QUERIES | DESIGN FOR TABLET VIEW @ 768PX */
@media only screen and (min-width: 670px) {
  /* HEADER | MQ */
  #bg-pattern-header {
    position: relative;
    object-fit: stretch;
    width: 666px;
    height: 666px;
    top: -166.5px;
    left: 373px;
  }
  #logo {
    position: absolute;
    margin-top: 70px;
    margin-left: 39px;
    align-self: normal;
  }
  #office-lite-home {
    flex-direction: row-reverse;
    position: absolute;
    margin-top: 104px;
  }
  .header-txt {
    width: 45em;
    margin-top: -45px;
    margin-left: 39px;
    text-align: left;
  }
  #header-p {
    width: 100%;
  }
  #btn1 {
    margin-left: -180px;
  }
  #header-illustration {
    height: 358px;
    width: 300px;
    position: relative;
    margin-top: 43px;
    margin-left: -30px;
  }

  /* MAIN | FLEXBOX | MQ */
  #main {
    width: 100%;
    height: 1043px;
    margin: 0;
    padding: 0;
    margin-top: 28px;
  }
  #card1, #card2, #card3 {
    position: relative;
    width: 77%;
    height: 216px;
    padding: 48px;
    padding-top: 53px;
    margin-left: 39px;
    margin-right: 39px;
    overflow: hidden;
  }
  #card1 {
    margin-bottom: 0;
  }
  #card2 {
    margin: 25px 39px 25px 39px;
    background-position: 165% center;
    background-repeat: no-repeat;
  }
  /* CARD CONTENTS | MQ */
  .card-header {
    position: relative;
    width: 177px;
    height: 150px;
    margin-top: -5px;
    text-align: left;
  }
  .card-body {
    position: relative;
    top: -128px;
    right: -355px;
    width: 230px;
    height: 150px;
    text-align: left;
  }
  .card-btn {
    position: relative;
    top: -158px;
    width: 171px;
    height: 57px;
    margin: 0;
  }
  #btn2, #btn3, #btn4 {
    margin: 0;
    margin-top: 0.6em;
  }
  .price-txt {
    margin-top: -5px;
  }

  /* FOOTER DATE | MQ */
  #date-comingSoon {
    margin-top: 3.2em;
    height: 300px;
  }

  /* FOOTER COUNTDOWN TIMER | MQ */
  #countdown-timer {
    width: 448px;
    margin-top: 10px;
  }
  .box {
    margin-top: 1.6em;
    height: 128px;
    width: 100px;
    border-radius: 13px;
  }
  .countdown {
    font-size: 56px;
    line-height: 64px;
    margin-top: 17px;
  }
  .time-txt {
    font-size: 16px;
    margin-bottom: 16px;
  }
  #btn5 {
    margin-top: 60px;
  }

  /* FOOTER BACKGROUND | MQ */
  #bg-color-footer {
    height: 790px;
    padding: 120px;
    padding-bottom: 80px;
    margin-top: -60em;
    position: relative;
    overflow-x: hidden;
}
  #bg-pattern-footer {
    margin-top: 118px;
    margin-left: -235px;
    transform: rotate(-5deg);
  }

  /* BUTTON STYLES | MQ */
  #btn1, #btn2, #btn3, #btn4, #btn4, #btn5, #btn6 {
    font-size: 16px;
    font-weight: 700;
  }
}

/* ===================================*/
/* MEDIA QUERIES | DESIGN FOR DESKTOP VIEW @ 1440PX */
@media only screen and (min-width: 1400px) {
  /* HEADER | MQ */
  #bg-pattern-header {
    height: 1134px;
    width: 1134px;
    top: -419px;
    left: 735px;
  }
  #logo {
    width: 165px;
    margin-top: 93px;
    margin-left: 165px;
  }
  #office-lite-home {
    margin-top: 113px;
  }
  .header-txt {
    width: 730px;
    margin-left: 165px;
    align-items: start;
  }
  #header-title {
    width: 730px;
    height: 200px;

    font-size: 65px;
    font-weight: 600;
    line-height: 69px;
  }
  #header-p {
    height: 84px;
    width: 540px;

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  #btn1 {
    margin-left: 0;
  }
  #header-illustration {
    height: 531px;
    width: 475px;
    margin-left: -100px;
  }


}